<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %>
    <title>Crear Categoria</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link href="/css/styles-reg-log.css" rel="stylesheet" />
</head>

<body>
  <!-- Inicio Header importado -->
  <header>
    <%- include('./partials/headerCategory') %>
  </header>
  <main>
    <form id="formulario" class="container" action="/category/" method="POST" enctype="multipart/form-data">
      <div class="row product-detail">
        <div class="col-12 col-md-6">
          <label for="nombre" class="form-label">Nombre:</label>
          <div>
            <input type="text" name="nombre" id="nombre" class="cajas"
              value="<%= locals.oldData ? oldData.nombre : null %>" /><span class="error"></span>
          </div>
          <% if (locals.errors && errors.nombre) { %>
            <div class="error-login">
              <p>
                <%= errors.nombre.msg %>
              </p>
            </div>
            <% } %>
        </div>

        <div class="col-12 col-md-6">
          <label for="descripcion" class="form-label">Descripción:</label>
          <input class="cajas" type="text" name="descripcion" id="descripcion" maxlength="30"
            value="<%= locals.oldData ? oldData.descripcion : null %>" /><span class="error"></span>
            <% if (locals.errors && errors.descripcion) { %>
              <div class="error-login">
                <p>
                  <%= errors.descripcion.msg %>
                </p>
              </div>
              <% } %>
        </div>
        <div class="col-12">
          <label class="form-label">Imagen:</label>
          <div>
          <input type="file" name="imagen" id="imagen" onchange="return fileValidation()" class="cajas"
            value="<%= locals.oldData ? oldData.imagen : null %>"><span class="error"></span>
            <% if (locals.errors && errors.imagen) { %>
              <div class="error-login">
                <p>
                  <%= errors.imagen.msg %>
                </p>
              </div>
              <% } %>
          </div>
        </div>
        <div class="col-12">
          <input type="submit" class="btn" value="CREAR NUEVA CATEGORIA" />
        </div>
      </div>
    </form>
  </div>
  </main>
  <!-- Comienzo footer -->
  <footer>
    <%- include ('./partials/footer-form') %>
  </footer>
</body>
<script src="/js/create-form-category.js"></script>

</html>