<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %>
    <title>Edición de producto</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/styles-reg-log.css" />
</head>

<body>
  <header>
    <%- include('./partials/header-logo') %>

      <title>Editar producto</title>
  </header>
  <main>
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo-crear">
            Edita un producto existente:
          </h1>
        </div>
      </div>
      <div class="col-12">
        <form action="/products/<%= productToEdit.id %>?_method=PUT" method="POST">
          <div class="row product-detail">
            <div class="col-12 col-md-6">
              <label name="nombre" class="form-label">Nombre del producto:</label>
              <input class="cajas" type="text" id="nombre_producto" name="nombre" value="<%=productToEdit.nombre%>"
                placeholder="Nombre de producto" maxlength="30" />
            </div>
            <div class="col-12 col-md-6">
              <label for="precio" class="form-label">Precio del producto:</label>
              <input class="cajas" id="precio_producto" type="text" name="precio" value="<%=productToEdit.precio%>"
                placeholder="Precio de producto" />
            </div>
            <div class="col-12 col-md-6">
              <label for="categoria" class="form-label">Categoría:</label>
              <select class="cajas" name="categoria" id="categoria">
                <% categories.forEach(categoria=> { %>
                  <option value="<%=categoria.nombre%>">
                    <%=categoria.nombre%>
                  </option>
                  <% }) %>
              </select>
            </div>
            <div class="col-12 col-md-6">
              <label for="seccion" class="form-label">Sección:</label>
              <select name="seccion" id="seccion" class="cajas">
                <option value="oferta" <%=productToEdit.seccion=="oferta" ? 'selected' : '' %>>En oferta</option>
                <option value="destacado" <%=productToEdit.seccion=="destacado" ? 'selected' : '' %>>Destacados</option>
              </select>
            </div>

            <div class="col-12 col-md-6">
              <label for="descuento" class="form-label">Descuento:</label>
              <input class="cajas" type="text" id="descuento_producto" name="descuento"
                value="<%=productToEdit.descuento%>" placeholder="% de descuento para aplicar al producto" required />
            </div>
            <div class="col-12 col-md-6">
              <label for="descripcion" class="form-label">Descripción:</label>
              <input class="cajas" type="text" id="descripcion_producto" name="descripcion"
                value="<%=productToEdit.descripcion%>" placeholder="Descripcion del producto" maxlength="100" />
            </div>
            <div class="col-12" style="text-align: center">
              <img src="/images/products/<%=productToEdit.imagen%>" alt="" style="width: 20%" />
              <label for="imagen" class=""></label>
              <input class="cajas" type="file" id="imagen_producto" name="imagen_producto" accept="image/*" />
            </div>
          </div>
          <div class="col-12">
            <input type="submit" class="btn" value="Editar" />
          </div>
      </div>
      </form>
      <!-- ELIMINAR -->
      <div class="col-12">
        <form action="/products/<%=productToEdit.id%>?_method=DELETE" method="POST" class="form-delete">
          <input type="submit" class="btn" value="Eliminar">
        </form>
      </div>
      <!-- FIN ELIMINAR -->
    </div>

  </main>
  <footer>
    <%- include("./partials/footer") %>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
</body>

</html>