<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %>
    <title>Editar usuario</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/styles-reg-log.css" />
</head>

<body>
  <!-- Inicio Header importado -->
  <header>
    <%- include('./partials/headerUser') %>
  </header>
  <main>
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo-crear">
            Editar usuario:
          </h1>
        </div>
      </div>
      <div class="col-12">
        <form id="formulario" action="/user/<%= userToEdit.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="row product-detail">
            <div class="col-12 col-md-6">
              <label for="nombre" class="form-label">Nombre:</label>
              <input type="text" id="nombre" name="nombre" class="cajas" value="<%= userToEdit.nombre %>" /><span class="error"></span>
              <% if (locals.errors && errors.nombre) { %>
                <div class="error-login">
                  <p>
                    <%= errors.nombre.msg %>
                  </p>
                </div>
                <% } %>
            </div>
            <div class="col-12 col-md-6">
              <label for="apellido" class="form-label">Apellido:</label>
              <input type="text" id="apellido" name="apellido" class="cajas" value="<%= userToEdit.apellido %>" /><span class="error"></span>
              <% if (locals.errors && errors.apellido) { %>
                <div class="error-login">
                  <p>
                    <%= errors.apellido.msg %>
                  </p>
                </div>
                <% } %>
            </div>
            <div class="col-12 col-md-6">
              <label for="email" class="form-label">Email:</label>
              <input type="email" id="email" name="email" class="cajas" value="<%= userToEdit.email%>" /><span class="error"></span>
              <% if (locals.errors && errors.email) { %>
                <div class="error-login">
                  <p>
                    <%= errors.email.msg %>
                  </p>
                </div>
                <% } %>
            </div>
            <div class="col-12 col-md-6">
              <label for="password" class="form-label">Password:</label>
              <input type="password" id="password" name="password" class="cajas" />
            </div>
            <div class="col-12 col-md-6">
              <label for="domicilio" class="form-label">Domicilio:</label>
              <input class="cajas" type="text" id="domicilio" name="domicilio" maxlength="30"
                value="<%= userToEdit.domicilio%>" />
            </div>
            <div class="col-12 col-md-6">
              <label for="ciudad" class="form-label">Ciudad:</label>
              <input class="cajas" type="text" id="ciudad" name="ciudad" maxlength="30"
                value="<%=userToEdit.ciudad%>" />
            </div>
            <div class="col-12">
              <label for="categoria" class="form-label">Categoría:</label>
              <select class="cajas" id="idUsuarioCategorias" name="idUsuarioCategorias">
                <% categorias.forEach(categoria=> {%>
                  <option value="<%=categoria.id%>" <%= userToEdit.idUsuarioCategorias == categoria.id ? 'selected' : '' %>>
                    <%=categoria.nombre%>
                  </option>
                  <%}) %>
              </select>
            </div>
            <div class="col-12">
              <label for="imagen" class="form-label">Imagen de perfil:</label>
              <div style="text-align: center;">
              <img src="/images/users/<%=userToEdit.imagen%>" alt="" style="width: 20%; text-align: center;">
              </div>
              <input type="file" name="imagen" id="imagen" class="cajas" onchange="return fileValidation()">
              <% if (locals.errors && errors.imagen) { %>
                <div class="error-login">
                  <p>
                    <%= errors.imagen.msg %>
                  </p>
                </div>
                <% } %>
            </div>
          </div>
        </div>
          <div class="col-12 bg-white">
            <input type="submit" class="btn" value="EDITAR" />
          </div>
        </form>
      <!-- ELIMINAR -->
        <div class="col-12 bg-white">
          <form action="/user/<%= userToEdit.id %>?_method=DELETE" method="POST" class="form-delete bg-white">
            <input type="submit" class="btn" value="ELIMINAR" />
          </form>
        </div>
        <!-- FIN ELIMINAR -->
    </div>

  </main>
  <!-- Comienzo footer -->
  <footer>
    <%- include ('./partials/footer-form') %>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
    <script src="/js/edit-form-user.js"></script>
</body>
</html>