<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %>
    <title>Editar Categoría</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/css/styles-reg-log.css" />
</head>

<body>
  <!-- Inicio Header importado -->
  <header>
    <%- include('./partials/headerCategory') %>
  </header>
  <main>
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h1 class="titulo-crear">
            Editar categoría:
          </h1>
        </div>
      </div>
      <div class="col-12">
        <form id="formulario" action="/category/<%= editcategory.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="row product-detail">
            <div class="col-12 col-md-6">
              <label for="nombre" class="form-label">Nombre:</label>
              <input type="text" id="nombre" name="nombre" class="cajas" value="<%= editcategory.nombre %>" /><span class="error"></span>
              <% if (locals.errors && errors.nombre) { %>
                <div class="error-login">
                  <p>
                    <%= errors.nombre.msg %>
                  </p>
                </div>
                <% } %>
            </div>
            <div class="col-12 col-md-6">
              <label for="descripcion" class="form-label">Descripción:</label>
              <input type="text" id="nombre" name="descripcion" class="cajas" value="<%= editcategory.descripcion %>" /><span class="error"></span>
              <% if (locals.errors && errors.descripcion) { %>
                <div class="error-login">
                  <p>
                    <%= errors.descripcion.msg %>
                  </p>
                </div>
                <% } %>
            </div>
            <div class="col-12">
              <label for="imagen" class="form-label">Imagen:</label>
              <div style="text-align: center;">
              <img src="/images/category/<%= editcategory.imagen %>" alt="" style="width: 25%;  margin-bottom: 2%; text-align: center;">
              <input type="file" name="imagen" id="imagen" class="cajas" accept="image/*" onchange="return fileValidation()" /><span
              class="error"></span>
              <% if (locals.errors && errors.imagen) { %>
                <div class="error-login">
                  <p>
                    <%= errors.imagen.msg %>
                  </p>
                </div>
                <% } %>
            </div>
          </div>
          <div class="col-12 bg-white">
            <input type="submit" class="btn" value="EDITAR" />
          </div>
        </form>
        <!-- ELIMINAR -->
        <div class="col-12 bg-white">
          <form action="/category/<%= editcategory.id %>?_method=DELETE" method="POST" class="form-delete bg-white">
            <input type="submit" class="btn" value="ELIMINAR" />
          </form>
        </div>
        <!-- FIN ELIMINAR -->
      </div>
    </div>
      
  </main>
  <!-- Comienzo footer -->
  <footer>
    <%- include ('./partials/footer-form') %>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
  <script src="/js/create-form-category.js"></script>
</body>

</html>