<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/perfilUsuario.css">
    <script>
        function inputPass() {
            document.getElementById("inputChangePass").style.display= "block";
            document.getElementById("btnchangepass").style.display = "none";
        }
        function activaOk() {
            document.getElementById("opcionOk").value;
            if (opcionOk != "") {
                document.getElementById("opcionOk").style.display= "block";
                document.getElementById("opcioncnl").style.display = "block";
            }
        }
            function cancelaPass() {
                document.getElementById("opcioncnl").style.display = "none";
                document.getElementById("opcionOk").style.display = "none";
                document.getElementById("inputChangePass").style.display = "none";
                document.getElementById("btnchangepass").style.display = "block";
        }
    </script>
    <title>Perfil Usuario</title>
</head>

<body>
    <header>
        <%- include('./partials/header-profile') %>
    </header>
    <!-- <form action="/user/:<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data"> -->
    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="/images/users/<%= usuario.imagen %>" alt="<% usuario.apellido %>">
                    <button type="button" class="boton-avatar">
                        <i class="fas fa-plus fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
                <h3 class="titulo"> Nombre y apellido: <%= usuario.nombre%>
                        <%= usuario.apellido %> %><a href="" class="editarReg"><i class="fas fa-user-edit fa-x1"></i></a>
                </h3>
                    
            </div>
            <div class="perfil-usuario-footer">
                <ul class="lista-datos">
                    <li><i class="iconos fas fa-at"></i><strong>E-mail:</strong>
                        <%= usuario.email %><a href="" class="editarReg"><i class="fas fa-user-edit"></i> Editar</a>
                    </li>
                    <li><i class="icono fas fa-map-marker-alt"></i><strong>Domicilio:</strong>
                        <%= usuario.domicilio %><a href="" class="editarReg"><i class="fas fa-user-edit"></i> Editar</a>
                    </li>
                    <li><i class="icono fas fa-map-marker-alt"></i><strong>Ciudad:</strong>
                        <%= usuario.ciudad %><a href="" class="editarReg"><i class="fas fa-user-edit"></i> Editar</a>
                    </li>
                    <div class="perfilPass">
                        <li><button class="btnchangepass" id="btnchangepass" onclick="inputPass()">Cambiar password</button>
                        </li>
                        <input type="text" id="inputChangePass" onclick="activaOk()" placeholder="Ingrese contraseña">
                        <div class="decidepass">
                        <button class="opcionOk" id="opcionOk">Aceptar</button>
                        <button class="opcioncnl" id="opcioncnl" onclick="cancelaPass()">Cancelar</button>
                        </div>
                    </div>
                    
                </ul>
            </div>
        </div>
    </section>
    </form>
    <div class="boton">
        <a href="/"><input type="submit" class="btn" value="Volver"></a>
    </div>
</body>

</html>