<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %>
    <title>Registrate</title>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css" />
    <link href="/css/styles-reg-log.css" rel="stylesheet" />
</head>

<body>
  <!-- Inicio Header importado -->
  <header>
    <%- include('./partials/header-form') %>
  </header>
  <main>
    <form class="container" id="formulario" action="/register" method="POST" enctype="multipart/form-data">
      <h1 class="form-label">
        Completá el formulario para formar parte de nuestra comunidad:
      </h1>
      <div class="row product-detail">
        <div class="col-12 col-md-6">
          <label for="nombre" class="form-label">Nombre:</label>
          <div>
            <input type="text" name="nombre" id="nombre" class="cajas"
              value="<%= locals.oldData ? oldData.nombre : null %>" /><span class="error"></span>
          </div>
          <% if (locals.errors && errors.nombre) { %>
            <div class="error-login">
              <p>
                <%= errors.nombre.msg %>
              </p>
            </div>
            <% } %>
        </div>
        <div class="col-12 col-md-6">
          <label for="apellido" class="form-label">Apellido:</label>
          <div>
            <input type="text" name="apellido" id="apellido" class="cajas"
              value="<%= locals.oldData ? oldData.apellido : null %>" /><span class="error"></span>
          </div>
          <% if (locals.errors && errors.apellido) { %>
            <div class="error-login">
              <p>
                <%= errors.apellido.msg %>
              </p>
            </div>
            <% } %>
        </div>
        <div class="col-12 col-md-6">
          <label for="email" class="form-label">Email:</label>
          <div>
            <input name="email" class="cajas" id="email" onchange="return validateEmail()" value="<%= locals.oldData ? oldData.email : null %>" /><span
              class="error"></span>
          </div>
          <% if (locals.errors && errors.email) { %>
            <div class="error-login">
              <p>
                <%= errors.email.msg %>
              </p>
            </div>
            <% } %>
        </div>
        <div class="col-12 col-md-6">
          <label for="domicilio" class="form-label">Domicilio:</label>
          <input class="cajas" type="text" name="domicilio" id="domicilio" maxlength="30"
            value="<%= locals.oldData ? oldData.domicilio : null %>" />
        </div>
        <div class="col-12 col-md-6">
          <label for="ciudad" class="form-label">Ciudad:</label>
          <input class="cajas" type="text" name="ciudad" id="ciudad" maxlength="30"
            value="<%= locals.oldData ? oldData.ciudad : null %>" />
        </div>
        <div class="col-12">
          <label class="form-label">Imagen de perfil:</label>
          <div>
          <input type="file" name="imagen" id="imagen" onchange="return fileValidation()" class="cajas"
            value="<%= locals.oldData ? oldData.imagen : null %>"><span class="error"></span>
            <% if (locals.errors && errors.imagen) { %>
              <div class="error-login">
                <p>
                  <%= errors.imagen.msg %>
                </p>
              </div>
              <% } %>
          </div>
        </div>
        <div class="col-12 col-md-6 campo">
          <label for="password" class="form-label">Contraseña:</label>
          <div>
            <input type="password" name="password" id="password" class="cajas" maxlength="30" /><span class="pass-span">Mostrar</span><span
            class="error"></span>
          </div>
          <% if (locals.errors && errors.password) { %>
            <div class="error-login">
              <p>
                <%= errors.password.msg %>
              </p>
            </div>
            <% } %>
        </div>
        <div class="col-12 col-md-6 campo">
          <label for="rePassword" class="form-label">Confirmar Contraseña:</label>
          <input type="password" name="rePassword" id="rePassword" class="cajas" maxlength="30" /><span class="pass-span2">Mostrar</span><span
          class="error"></span>
          <% if (locals.errors && errors.rePassword) { %>
            <div class="error-login">
              <p>
                <%= errors.rePassword.msg %>
              </p>
            </div>
            <% } %>
        </div>
        <div class="col-12 col-md-6 termino1">
          <input type="checkbox" name="idUsuarioCategorias" value=2/> Quiero recibir vía e-mail ofertas y
          novedades
        </div>
        <div class="col-12 col-md-6 termino1">
          <input type="checkbox" name="terms" id="terms"/> Al registrarme acepto los<a class="termino2" href="">Terminos y
            Condiciones</a><span class="error"></span>
          <% if (locals.errors && errors.terms) { %>
            <div class="error-login">
              <p>
                <%= errors.terms.msg %>
              </p>
            </div>
            <% } %>
        </div>
        <div class="errores">
          <ul></ul>
        </div>
        <input type="submit" style="margin-left: auto; margin-right: auto;" class="col-md-6 btn" value="REGISTRATE" />
      </div>
    </form>
  </main>
  <!-- Comienzo footer -->
  <footer>
    <%- include ('./partials/footer-form') %>
  </footer>
</body>
<script>
    document.querySelector('.pass-span').addEventListener('click',e =>{
      const passwordInput = document.querySelector('#password');
      if (e.target.classList.contains('show')) {
        e.target.classList.remove('show');
        e.target.textContent = 'Ocultar';
        passwordInput.type = 'text';
      } else {
        e.target.classList.add('show');
        e.target.textContent = 'Mostrar';
        passwordInput.type = 'password';
      }
    })
    document.querySelector('.pass-span2').addEventListener('click', e => {
      const passwordInput = document.querySelector('#rePassword');
      if (e.target.classList.contains('show')) {
          e.target.classList.remove('show');
          e.target.textContent = 'Ocultar';
          passwordInput.type = 'text';
      } else {
          e.target.classList.add('show');
          e.target.textContent = 'Mostrar';
          passwordInput.type = 'password';
      }
    });
</script>
<script src="/js/register-form.js"></script>
</html>