<head>
    <%- include('./partials/head') %>
        <title>Argentum</title>
        <link rel="stylesheet" href="/css/styles-usersList.css" />
</head>

<body class="bg-gris-oscuro">
    <!-- Inicio Header importado -->
    <header>
        <%- include('./partials/header') %>
    </header>
    <main>
        <div class="div-margin p-30">
            <section class="fx fx-wrap w-100 pb-30">
                <div class="bg-blanco m-10 fx fx-wrap b-color">
                    <h2 class="w-100 m-10 text-center heading-style">
                        TODOS LOS USUARIOS
                    </h2>
                    <!-- Productos destacados con plantilla dinamica-->
                    <% usuarios.forEach(usuario=> { %>
                        <div class="w-50 p-8 tablet-w-33 desktop-w-20">
                            <a href="/user/edit/<%=usuario.id%>">
                                <article class="product b-1 art-size">
                                    <img class="w-100" src="<%=usuario.imagen%>" alt="<%=usuario.id%>" />
                                    <div class="fx fx-wrap bg-blanco bt-2">
                                        <p class="ms-5 mt-5 product-tittle text-center trunc-text-1">
                                            <%=usuario.nombre_apellido%>
                                        </p>
                                        <p class="ms-5 mt-5 mb-5 product-price text-center w-100">
                                            <%=usuario.nombre_apellido%>
                                        </p>
                                    </div>
                                </article>
                            </a>
                        </div>
                        <% }) %>
            </section>
        </div>
    </main>
</body>